.login-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.login-left-side {
  width: 50%;
  background-color: var(--main-color);
  border: 1px solid #707070;
  position: relative;
}

.login-right-side {
  width: 50%;
}

.right-side-img {
  height: 100vh;
  width: 516px;
}

.login-logo {
  width: 336px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  /* margin-top: 180px; */
}

.logo {
  width: 300px;
  margin-left: -15px;
  /* height: 11vh;
  margin-right: 100px; */
}

.login-logo h3 {
  font: bold 30px var(--main-font);
  color: var(--main-white);
  /* margin: 20px 260px 10px 0px; */
}

.login-logo p {
  color: var(--main-white);
  font: 600 13px var(--main-font);
  margin: 10px 0px;
}

.login-form {
  /* width: 40%;
  height: 3vh;
  margin: 5px 160px; */
  width: 273px;
}

.login-form-input {
  margin-bottom: 20px;
}

/* .anticon svg {
  display: inline-block;
} */

/* .ant-btn-primary {
  color: var(--main-color);
  background-color: var(--main-white);
  border-color: var(--main-color);
  height: 40px;
  width: 120px;
  margin-right: 200px;
} */
.login-form-button {
  color: var(--main-color);
  background-color: var(--main-white);
  border-color: var(--main-color);
  height: 40px;
  width: 120px;
  margin-right: 200px;
  font-weight: 700;
}
/**/

.ant-input-affix-wrapper {
  position: relative;
  width: 30%;
  padding: 4px 11px;
  background-color: var(--main-color);
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: inline-flex;
}

.form-input {
  height: 40px;
  color: var(--main-white);
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
  color: var(--main-white);
}

#normal_login_username.ant-input,
#normal_login_password.ant-input {
  background-color: var(--main-color);
}

#normal_login_username.ant-input,
#normal_login_password.ant-input ::placeholder {
  color: var(--main-white);
  opacity: 0.6;
}

.ant-modal-wrap {
  position: fixed;
  top: 10%; 
}

.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: var(--main-color);
  opacity: 0.7;
  border: 0.6px solid #d9d9d9;
}

.ant-form-item-explain > div {
  color: var(--main-white);
}

.ant-input-affix-wrapper:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover {
  border-color: #d9d9d9;
}

.ant-form-item-has-error .ant-input:not([disabled]):hover {
  border: none;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: var(--main-white);
  background-color: var(--main-color);
  border-color: var(--main-white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--main-color) inset !important;
  -webkit-text-fill-color: var(--main-white) !important;
  caret-color: var(--main-white);
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error,
.ant-form-item-has-error {
  border-color: var(--main-white);
}

.ant-form-item-has-error .ant-input:not([disabled]):hover,
.ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover {
  border-color: var(--main-white);
}

/* Media Query */
@media screen and (max-width: 1024px) {
  .right-side-img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .login-container {
    display: block;
  }

  .login-right-side, .right-side-img {
    width: 0;
    height: 0;
  }

  .login-left-side {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media screen and (max-width: 480px) {
  .login-logo {
    width: 320px;
    padding: 0 31px;
  }
 
  .login-form, .logo {
    width: 258px;
  }
}
