.login-container {
  display: flex;
  justify-content: space-around;
}

.login-left-side {
  width: 50%;
  background: var(--main-color) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.login-right-side {
  width: 50%;
}

.login-form {
  width: 40%;
  height: 3vh;
  margin: 5px 160px;
}

.login-logo {
  align-items: center;
  margin-top: 180px;
}

.anticon svg {
  display: inline-block;
}

.login-logo h3 {
  font: bold 30px/30px var(--main-font);
  letter-spacing: 0px;
  color: var(--main-white);
  margin: 20px 260px 10px 0px;
}

.login-logo p {
  letter-spacing: 0px;
  color: var(--main-white);
  font: 600 13px/16px var(--main-font);
  margin: 10px 170px 10px 0px;
}

.logo {
  width: 300px;
  height: 11vh;
  margin-right: 100px;
}

.ant-btn-primary {
  color: var(--main-color);
  background-color: var(--main-white);
  border-color: var(--main-color);
  height: 40px;
  width: 120px;
  margin-right: 200px;
}

.ant-input-affix-wrapper {
  position: relative;
  width: 30%;
  padding: 4px 11px;
  background-color: var(--main-color);
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: inline-flex;
}

.right-side-img {
  height: 100vh;
  width: 516px;
}

.form-input {
  height: 6vh;
  color: var(--main-white);
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
  color: var(--main-white);
}

#normal_login_username.ant-input,
#normal_login_password.ant-input {
  background-color: var(--main-color);
}

#normal_login_username.ant-input,
#normal_login_password.ant-input ::placeholder {
  color: var(--main-white);
  opacity: 0.6;
}

.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: var(--main-color);
  opacity: 0.7;
  border: 0.6px solid #d9d9d9;
}

.ant-form-item-explain > div {
  color: var(--main-white);
}

.ant-input-affix-wrapper:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover {
  border-color: #d9d9d9;
}

.ant-form-item-has-error .ant-input:not([disabled]):hover {
  border: none;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: var(--main-white);
  background-color: var(--main-color);
  border-color: var(--main-white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--main-color) inset !important;
  -webkit-text-fill-color: var(--main-white) !important;
  caret-color: var(--main-white);
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error,
.ant-form-item-has-error {
  border-color: var(--main-white);
}

.ant-form-item-has-error .ant-input:not([disabled]):hover,
.ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover {
  border-color: var(--main-white);
}
