.login-container{
  display: flex;
  justify-content: space-around;
  height:100vh;
  widows: 100%;

}
.login-left-side {
width: 50%;
background: #E8505B 0% 0% no-repeat padding-box;
border: 1px solid #707070;
}


.ant-btn-primary {
  color: #E8505B;
  background-color: white;
  border-color: #E8505B;
  height: 40px;
  width: 120px;
  margin-right: 80px;
}

.ant-input-affix-wrapper {
  position: relative;
  width: 30%;
  padding: 4px 11px;
  background-color: #E8505B;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: inline-flex;
}

.login-logo {
  align-items: center;
  margin-top: 150px;
}

.anticon svg {
  display: inline-block;
  color: white;
}


.login-logo h1{
  font: Bold 34px/46px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-right: 120px;
  }

  .login-logo p {
  font: SemiBold 19px/26px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-right: 46px;
  font: SemiBold 19px/26px Open Sans;
  }

  .ant-input-affix-wrapper > input.ant-input {
    padding: 0;
    border: none;
    outline: none;
    color: white;
  }

  #normal_login_username.ant-input , #normal_login_password.ant-input{
    background-color: #E8505B;
  }
  #normal_login_username.ant-input , #normal_login_password.ant-input ::placeholder{
    color: white;
    opacity: 1;
  }

  
  .ant-form-item-has-error .ant-input-affix-wrapper, .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: #E8505B;
    border: 1px solid #d9d9d9;
  }

  .ant-form-item-explain > div {
    color: #FFFFFF;
  }

  .ant-input-affix-wrapper:hover, .ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover {
    border-color: #d9d9d9;
  }

  .ant-form-item-has-error .ant-input:not([disabled]):hover {
    border: none;
  }

  .ant-btn-primary:focus {
    color: #E8505B;
    background-color: #FFFFFF;
    border-color: #E8505B;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #E8505B inset !important;
    -webkit-text-fill-color: #FFFFFF !important;
    caret-color: white;
}
