.overview-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.container-photo {
    width: 50%;
}

.container-text {
    width: 50%;
}

.container-content h1 {
    font-weight: bold;
    color: var(--main-color) ;
    align-items: flex-start;
}

.container-content p {
    font-weight: bold;
    color: var(--content-gray);
}

.container-content .ant-btn {
    height: 40px;
    width: 260px;
    background-color:var(--main-color);
    color: var(--main-white);
}
