li.admin-card {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 15% 21% repeat(4, 12.6%) [last-col] 13.5%;
    box-shadow: var(--card-shadow);
    margin-bottom: 30px;
    padding: 20px 0;
}

li.admin-card > div:last-of-type {
    grid-column: last-col / span 1;
}

li.admin-card > div {
    border-left: 1px dashed #C8C7C7;
    padding: 0 20px;
}

li.admin-card > div:first-of-type {
    border-left: none;
}

li.admin-card .name-img-card {
    display: flex;
    justify-content: space-between;
}

li.admin-card .name-img-card > div {
    width: 40%;
}

li.admin-card .img-card {
    align-self: center;
}

li.admin-card .name-img-card img {
    width: 50px;
}

li.admin-card h3 {
    color: var(--main-color);
    margin-bottom: 11px;
}

.card-btn {
    display: block;
    width: 90px;
    border-color: var(--border-white);
    color: #414D55;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
}

.card-btn:hover {
    background-color: var(--main-color);
    color: var(--main-white);
    /* border-color: var(--border-white); */
}

.edit {
    margin-bottom: 10px;
    color: var(--main-color);
}

li.admin-card a, li.admin-card p {
    color: var(--content-grey);
}
