.ant-carousel .slick-dots li.slick-active button {
  background: var(--main-color);
  opacity: 1;
}

.ant-carousel .slick-dots li.slick-active {
  width: 40px;
}

.ant-carousel .slick-dots li {
  width: 40px;
}

.ant-carousel .slick-dots li button {
  background: var(--main-color);
  opacity: 0.4;
  height: 10px;
}

.ant-carousel .slick-dots-bottom {
  bottom: 0;
}
