.cohort_card {
    width: 200px;
    height: 230px;
    border-radius: 20px;
    /* background: var(--main-white); */
}

.card_img {
    width: 100px;
    height: 100px;
    margin-top: -10px;
}

.child_container {
    margin-top: 180px;
    margin-right: 60px;

}

.title_heading {
    font: Bold 40px/48px 'Open Sans', sans-serif;
    color: var(--main-black);
    margin-bottom: 55px;
}

.card_heading {
    font: Bold 20px/27px 'Open Sans', sans-serif;
    color: var(--main-color);
}

.card_paragraph {
    font: Bold 14px 'Open Sans', sans-serif;
    color: var(--main-black);
}

.left {
    background: var(--main-color);
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.right {
    background: var(--main-white);
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.leftSvg {
    position: absolute;
    left: 0px;
    bottom: 2%;
    height: 20%;
    width: 20%;
}

.rightSvg {
    position: absolute;
    right: 25%;
    top: 20%;
    height: 20%;
    width: 20%;
}
