.projects-container h2 {
    color: var(--main-color);
    font: Bold 1.4em var(--main-font);
}

.projects-container .project-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    height: 87%;
}

.project-detail .project-image {
    width: 35%;
    border-radius: 5px;
    height: 70%;
}

.project-detail .project-desc {
    width: 60%;
    text-align: left;
    padding: 0.4rem;
}

.project-detail .project-desc h3 {
    color: var(--main-color);
    font: bold 1.3em var(--main-font);
}

.project-detail .project-desc p {
    color: var(--content-blue-green);
    font: bold 1em var(--main-font);
    line-height: 28px;
    margin-bottom: 2rem;
}

.project-detail .project-desc ul, .project-detail .project-desc ul li a {
    color: var(--content-blue-green);
}

.project-detail .project-desc ul li {
    margin-bottom: 0.7rem;
    font: bold 1em var(--main-font);
}

.project-detail .project-desc ul > li:before {
    content: '*';
    margin: 0 0.5em;
}

.project-detail .project-desc ul li ol {
    list-style-type: decimal;
    margin-left: 3.6rem;
    display: inline-grid;
}

.project-detail .project-desc ul li ol li {
    list-style-position: inside;
}

/* Media Query */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .project-detail .project-image  {
        height: 58%;
    }
}

@media screen and (max-width: 768px) {
    .projects-container .project-detail {
        display: block;
        padding: 0;
    }

    .project-detail .project-desc {
        width: 100%;
        margin-top: 1rem;
    }

    .project-detail .project-desc p {
        line-height: 20px;
    }
}
  
@media screen and (min-width: 601px) and (max-width: 768px) {
    .project-detail .project-image {
        width: 50%;
        height: 40%;
    }

    .project-detail .project-desc h3 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    .project-detail .project-desc {
        margin-top: 2rem;
    }

    .project-detail .project-desc h3 {
        font-size: 1em;
    }
}
  
@media screen and (min-width: 481px) and (max-width: 600px) {
    .project-detail .project-image {
        width: 41%;
        height: 35%;
    }
}

@media screen and (max-width: 480px) {
    .project-detail .project-image {
        width: 50%;
        height: 30%;
    }

    .projects-container .project-detail {
        margin-top: 4rem;
    }
}
  
