.login-container{
  display: flex;
  justify-content: space-around;

}
.login-left-side {
width: 50%;
background: var(--main-color) 0% 0% no-repeat padding-box;
border: 1px solid #707070;
height: 100vh;
}


.ant-btn-primary {
  color: var(--main-color);
  background-color: white;
  border-color: var(--main-color);
  padding: 20px;
  border: 2px solid gray;
  border-radius: 50px;
  width: 170px;
  transform: scale(1.2);
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: inline-flex;
}

.login-logo {
  align-items: center;
  margin-top: 150px;
}

.login-logo img {
  width: 100px;
}

.anticon svg {
  display: inline-block;
  color: white;
}


.login-logo h1{
  font: Bold 34px/46px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-right: 120px;
  }
  
  .login-logo p {
  font: SemiBold 19px/26px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-right: 46px;

  }

  .ant-input-affix-wrapper > input.ant-input {
    padding: 0;
    border: none;
    outline: none;
    color: white;
  }

  #normal_login_username.ant-input , #normal_login_password.ant-input{
    background-color: var(--main-color);
  }

  #normal_login_username.ant-input , #normal_login_password.ant-input ::placeholder{
    color: white;
    opacity: 1;
  }
  