* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

:root {
  --main-color: #e8505b;
  --main-white: #ffffff;
  --main-black: #000000;
  --content-grey: #636d73;
  --content-blue-green: #3a5a6e;
  --border-white: #fafbfd;
  --pagination-color: #343338;
  --main-font: 'Open Sans', sans-serif;
  --box-shadow: 0px 1px 8px #142e6e1a;
  --card-shadow: 0px 3px 6px #00000014;
  --input-border: #a2c0d4;
}

html {
  font-size: 1vw;
}

body {
  font-family: var(--main-font);
  overflow: hidden;
}

.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.admin-list-card {
  margin-bottom: 16px;
}
