* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #E8505B;
  --content-grey: #636D73;
  --header-font: 'Open Sans bold';
  --content-font: 'Open Sans regular';
}

.login-container{
  display: flex;
  justify-content: space-around;

}
.login-left-side {
width: 50%;
background: #E8505B 0% 0% no-repeat padding-box;
border: 1px solid #707070;
}


.login-logo {
   align-items: center;
   margin-top: 150px;
}

.login-logo h1{
font: Bold 34px/46px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
}

.login-logo p {
font: SemiBold 19px/26px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}

.ant-input-affix-wrapper  {
    background-color: var(--main-color);
    width: 30%;
    padding: 4px 11px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    display: inline-flex;

}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
  color: var(--main-color);;
}

#normal_login_username.ant-input , #normal_login_password.ant-input{
  background-color: #E8505B;
  
}

.anticon svg {
  display: inline-block;
  color: white;
}

.ant-btn-primary {
  background-color: #fff;
  color:#E8505B ;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 2px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

html {
  font-size: 1vw;
}

.App {
  text-align: center;
}
