.container img {
    width: 600px;
    height: 400px;
}

.container h1 {
    font-weight: bold;
}



.container p {
    color: gray;
}

.container .ant-btn {
    color: white;
    background-color: var(--main-color);

}