.form-container {
  padding: 1em 2rem;
  text-align: left;
  height: 98%;
  border-radius: 10px;
  background: linear-gradient(140deg, var(--main-color) 46%, var(--main-white) 47%);
  position: relative;
}

.add-data-form {
  position: absolute;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  padding: 24px 30px 24px 30px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--main-white);
}

.add-data-form h1 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.ant-form-item-label > label, .add-form-select .select-lable {
  color: var(--content-blue-green)!important;
}

.add-form-row .ant-form-item-label {
  text-align: left;
  min-width: 125px;
}

.cohort-form {
  margin: 0;
  text-align: right;
}

.cohort-form button {
  width: 108px;
  height: 40px;
  border: 0;
}
.cohort-form a {
  display: inline-block;
  padding: 9px 32.5px;
  border: 0;
}

.cohort-form button {
  background-color: var(--main-white);
  color: var(--main-color);
  border-radius: 8px 0px 0px 8px;
  box-shadow: var(--box-shadow);
  margin-right: 0;
}

.cohort-form a {
  background-color: var(--border-white);
  color: var(--content-blue-green);
  border-radius: 0px 8px 8px 0px;
}

.add-data-form .ant-form-item-explain > div {
  color: var(--main-color)
}
.add-data-input {
  border: 0;
  color: black;
  background-color: var(--main-white);
}

.add-form-row .ant-col {
  border-bottom: 1px solid var(--input-border);
}

.cohort-form .ant-col{
border: 0;
}

.add-data-input:focus {
    box-shadow: 0 0 0 2px transparent;
    border-color: transparent;
}

.add-data-input:hover {
  background-color: var(--main-white);
}

.add-data-form .ant-form-item-has-error .add-data-input {
  box-shadow: 0 0 0 2px transparent;
  background-color: var(--main-white);
}

.add-data-form .ant-form-item-has-error .ant-input:focus{
  box-shadow: 0 0 0 2px transparent;
}

.add-data-input:-webkit-autofill,
.add-data-input:-webkit-autofill:hover, 
.add-data-input:-webkit-autofill:focus, 
.add-data-input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px var( --main-white) inset !important;
  -webkit-text-fill-color: var(--main-black) !important;
  caret-color: var(--main-white);
  background-color: var(--main-white);
}


.add-form-select > .ant-select-show-search.ant-select-multiple .ant-select-selector {
  border: none;
  border-bottom: 1px solid var(--input-border);
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
  margin-bottom: 24px;
    vertical-align: top;
}

.project-form .ant-form-item {
  margin-bottom: 12px;
}

.add-form-select{
  display: flex;
  height: 29px;
  margin-bottom: 12px;
}

.add-form-select .select-lable {
  min-width: 125px;
}

.project-form .ant-select {
  position: relative;
}

.project-form .ant-select-arrow {
  position: absolute;
  top: 13px;
}



.add-form-select .select-lable {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  text-align: left;
  width: 140px;
  border-bottom: 1px solid var(--input-border);
}

.form-container ::-webkit-scrollbar {
  width: 12px;
  background-color: var(--main-white);
}

.form-container ::-webkit-scrollbar-thumb {
  background: var(--main-color); 
  border-radius: 5px;
}

@media (max-width: 578px) {
  .add-form-row .ant-col {
    border-bottom: 0;
  }
  .add-form-row .ant-form-item-control {
    border: 1px solid var(--input-border);
  }
  .add-form-select{
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .add-form-select .select-lable{
    border-bottom: 0;
    width: 100%;
    padding-bottom: 9px;
  }
  .add-form-select .ant-select{
    width: 100%;
  }
  .add-form-select > .ant-select-show-search.ant-select-multiple .ant-select-selector {
    border-bottom: 0;
    border: 1px solid var(--input-border);
  }
  .cohort-form .ant-col{
    margin: 15px 0 0;
  }
}