.ant-layout-header {
  height: 15vh;
  min-height: 119px;
  background-color: white;
  padding: 15px 130px 20px 50px;
}

.admin-header-image{
  display: flex;
  text-align: left;
}

.admin-header-image img {
  width: 250px;
  height: 50px;
}

.admin-header-btn {
display: flex;
justify-content: flex-end;
}
.admin-header-btn button {
  width: 160px;
  height: 35px;
}

.admin-container {
  display: flex;
  background-color: white;
  height: 85vh;
  min-height: 650px;
  padding-bottom: 30px;
}

.admin-container-side {
  width: 20%;
}

.admin-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: salmon;
  margin: 15px 30px 0 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 8px #142e6e1a;
  border-radius: 5px;
  opacity: 1;
  min-height: 95%;
}

.admin-side-btn {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.admin-side ul  {
  width: 100%;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: #e8505b;
  font-weight: bold;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
}

.admin-content {
  width: 80%;
  padding-right: 200px;
}
