.ant-layout-header {
  height: 15vh;
  min-height: 125px;
  background-color: var(--main-white);
  padding: 15px 130px 20px 50px;
  font-family: var(--main-font);
}

.admin-header-image {
  display: flex;
  text-align: left;
}

.admin-header-image img {
  width: 250px;
  height: 50px;
}

.admin-header-btn {
  display: flex;
  justify-content: flex-end;
}

.admin-container {
  display: flex;
  background-color: var(--main-white);
  height: 80vh;
  min-height: 500px;
  padding-bottom: 30px;
  font-family: var(--main-font);
}

.admin-container-side {
  width: 20%;
}

.admin-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 30px 0 90px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  min-height: 95%;
}

.admin-side-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}

.admin-menu {
  width: 100%;
  list-style: none;
  padding: 30px 0;
}

.admin-menu li {
  margin-bottom: 15px;
}

.admin-menu-a {
  color: var(--content-blue-green);
}

.admin-menu-active {
  color: var(--main-color);
  font-weight: bold;
}

.admin-content {
  width: 80%;
  padding-right: 200px;
  padding-top: 15px;
}

.pagination {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.ant-pagination-item a {
  color: var(--pagination-color);
}

.ant-pagination-item-active a {
  color: var(--main-white);
}

.ant-pagination-item:hover {
  background-color: var(--main-color);
}

.ant-pagination-item:hover a {
  color: var(--main-white);
}

.ant-pagination-item-active:focus a {
  color: var(--main-white);
}

.ant-list-split .ant-list-item {
  border-bottom: none;
  padding: 0;
}

.admin-back-btn {
  margin-top: 130px;
}

.logout-btn, .admin-back-btn {
  color: var( --main-white);
  background-color: var(--main-color);
  border-color: var( --main-color);
  height: 40px;
  width: 100px;
  margin-right: 0px;
}

.logout-btn:hover, .admin-back-btn:hover {
  color: var( --main-white);
}

.logout-btn:focus, .admin-back-btn:focus {
  color: var( --main-white);
  background-color: var(--main-color);
  border-color: var( --main-color);
}

.Add-Link {
  background-color: var(--main-color);
  color: var(--main-white);
  width: 180px;
  height: 50px;
  box-shadow: 0px 1px 8px #142E6E1A;
  border-radius: 5px;
  font-size: 18px;
  opacity: 1;
  line-height: 50px;
}
