.contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.img-container {
    width: 50%;
    background-color: var(--main-color);
}

.img-container img {
    height: 100vh;
    width: 32rem;
}

.contact-container .contact-page-container {
    width: 50%;
    padding-top: 120px;
    text-align: left;
    margin-left: 5rem;
}

.contact-container .contact-page-container h4 {
    font-weight: bold;
    color: var(--main-color);
}

.contact-child-container .icons-container {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.contact-child-container .icons-container :hover {
    color: var(--main-color);
}

.contact-child-container .icons-container svg {
    color: var(--content-blue-green);
}

.contact-page-container .contact-child-container {
    margin-top: 3rem;
}

.contact-page-container .contact-child-container p {
    color: var(--content-blue-green);
}

.contact-child-container .section-container-1 {
    display: flex;
    justify-content: space-between;
    width: 130px;
    color: var(--content-blue-green) ;
}

.contact-child-container .section-container-1  p:hover {
    color: var(--main-color);
}

.contact-child-container .section-container-2 {
    display: flex;
    justify-content: space-between;
    width: 184px;
}

.contact-child-container .section-container-2  p:hover {
    color: var(--main-color);
}

.contact-child-container .text:hover {
    color: var(--main-color);
}

.contact-page-container .rights {
    position: absolute;
    bottom: 1.66rem;
    width: 50%;
}

.contact-page-container .end-line {
    border-bottom: 1px dashed var(--main-color);
    width: 80%;
}

.contact-page-container .copy-right {
    font-weight: bold;
    color: var(--content-blue-green) ;
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contact-child-container .icons-container {
        width: 24%;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .img-container {
        background-color: var(--main-white);
    }
}

@media screen and (min-width: 769px) {
    .contact-container .img-container {
        width: 50vw;
        height: 100vh;
        position: absolute; 
        right: 0px;
        top: 0px;
        z-index: -1;
    }
    
}

@media screen and (max-width: 768px) {
    .contact-container {
        display: block;
    }

    .contact-container .contact-page-container {
        width: 89%;
        padding-top: 10px;
    }

    .contact-container .contact-page-container .content-parent {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact-container .contact-page-container .content-parent .contact-child-container {
        width: 200px;
    }

    .contact-child-container .icons-container {
        width: 56%;
    }

    .contact-container .img-container {
        height: 39vh;
        background-color: var(--main-color);
        width: 65%!important;
        border-radius: 0 0 259px 0;
        box-shadow: 1px 1px 12px #3A5A6E;
        text-align: left;
        padding-left: 5rem;
    }

    .contact-container .img-container img {
        height: 67%;
        width: 32rem;
        margin-top: 10rem;
    }

    .contact-page-container.rights {
        position: absolute;
        bottom: 25px;
        width: 100%;
    }
}

@media screen and (min-width: 488px) and (max-width: 677px) {
    .contact-container .contact-page-container .content-parent {
        width: 92%;
    }
}

@media screen and (max-width: 600px) {
    .contact-container .img-container {
        height: 33vh;
    } 

    .contact-container .img-container img {
        height: 69%;
    }
}

@media screen and (max-width: 450px) {
    .contact-container .img-container {
        height: 25vh;
        text-align: left;
    } 

    .contact-container .img-container img {
        height: 86%;
    }

    .contact-container .contact-page-container {
        margin-top: 10px;
    }

    .contact-page-container .contact-child-container {
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px) {
    .contact-page-container .contact-child-container {
        font-size: 12px;
    }

    .contact-page-container .rights {
        position: absolute;
        bottom: 1px;
        width: 100%;
    }

    .contact-page-container .copy-right {
        font-weight: bold;
        color: var(--content-blue-green);
        font-size: 10px;
        margin-top: 9px;
    }
}