.projects-container .primary-title {
   color: var(--main-color);
   font: bold 20px var(--main-font);
}

a:nth-child(5) .projectItem, a:nth-child(9) .projectItem {
   width: 43%;
}


@media screen and (max-width: 768px) {
   a:nth-child(5) .projectItem, a:nth-child(9) .projectItem {
      width: 42%;
   }
   .projects-container .primary-title {
      text-align: left;
      margin-left: 3rem;
   }
}

@media screen and (max-width: 480px) {
   .projects-container .primary-title {
      font-size: 1em;
      margin-bottom: 4rem;
   }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
   .projects-container .primary-title {
      margin-bottom: 3rem;
   }
}
