.main-page-left {
  height: 100vh;
  min-height: 480px;
  padding-top: 160px;
}

.main-page-right {
  height: 100vh;
  padding-top: 100px;
  min-height: 480px;
}

.right-nav {
  position: absolute;
  top: 35%;
  right: 0;
  width: 70px;
  background-color: transparent;
}

.right-image {
  height: 100%;
}

/* right nav style*/

.right-nav {
  list-style: none;
  width: 100px;
  text-align: left;
  font-size: 35px;
}

.right-nav li a {
  color: #000;
}

.right-nav li a:hover {
  color: #000;
}

.right-nav li a:active {
  color: #000;
}

.ca-left {
  margin: 0 90px;
}

.right-nav-active {
  color: #000;
  text-decoration: line-through;
}
