.main-header {
  display: flex;
  padding: 2.5rem 5rem 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.7rem;
  z-index: 1;
}

.header-left {
  width: 50%;
  text-align: left;
}

.header-left img {
  width: 260px;
}

.header-right {
  width: 50%;
  text-align: right;
}

.anticon-search, .anticon-close {
  padding-right: 1rem;
}

.anticon-close,
.anticon-search,
.anticon-menu {
  font-size: 1.4em;
}

.menu {
  background-color: var(--main-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 28.6rem;
  padding: 2.5rem 5rem 0;
  z-index: 1;
}

.menu-header-left {
  width: 50%;
  text-align: right;
}

.menu-header-right {
  width: 50%;
  text-align: left;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
}

.menu-header img {
  width: 260px
}

.menu-list {
  text-align: right;
  padding: 1rem 2.8rem 2.5rem 0;
  color: var(--main-black);
  margin-top: -1rem;
  font-size: 1.28em;
}

.menu-list a {
  display: block;
}

.menu-social {
  margin-bottom: 1.8rem;
  font-size: 1.28em;
  font-weight: bold;
  text-align: left;
}

.menu-social span {
  padding-right: 1.64rem
}

.contact {
  color: var(--main-black);
}

.header-list {
  color: var(--main-black);
  margin-bottom: 0.9rem
}

.header-list:hover {
  color: var(--main-color);
  font-weight: bold;
}

.header-list-active {
  font-weight: bold;
  color: var(--main-color);
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

/* start right nav style */

.right-nav-list {
  position: absolute;
  top: 32%;
  right: 0;
  width: 5rem;
  background-color: transparent;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.right-nav-list li {
  position: relative;
  margin-bottom: 0.28rem;
}

.right-nav {
  color: var(--content-blue-green);
}

.right-nav:hover {
  color: var(--content-blue-green);
  display: flex;
  padding-right: 3.5rem;
}

.right-nav:hover :first-child {
  display: none;
}

.right-nav:hover .show-full-name {
  display: block;
  margin-left: -28.57rem;
  width: 35.7rem;
  text-align: right;
  color: var(--main-color);
  z-index: 1;
}

.right-nav-active {
  color: var(--main-color);
}

.right-nav-active:hover {
  color: var(--main-color);
  display: flex;
  padding-right: 3.5rem;
}

.right-nav-active .line,
.right-nav-active-white .line {
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
}

.right-nav-white {
  color: var(--content-blue-green);
}

.right-nav-active-white .line {
  background-color: var(--main-color);
}
.right-nav-active-white {
  color: var(--main-white);
}

.right-nav-white .line {
  background-color: var(--main-white);
}


.right-nav-white:hover {
  color: var(--content-grey);
  display: flex;
  padding-right: 3.5rem;
}


.right-nav-white:hover :first-child {
  display: none;
}


.right-nav-white:hover .show-full-name {
  display: block;
  margin-left: -28.57rem;
  width: 35.7rem;
  text-align: right;
  color: var(--main-white);
  z-index: 1;
}


.right-nav-active-white:hover {
  color: var(--main-white);
}


.show-full-name {
  display: none;
}

.tools-img {
  position: absolute;
  top: 13.4rem;
  right: 6.8rem;
  width: 6.7rem;
}

.tree-img {
  position: absolute;
  bottom: 2.9rem;
  left: 3.78rem;
  width: 6.7rem;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header-left img, .menu-header img {
    width: 216px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .menu-list, .menu-social {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .header-left img, .menu-header img {
    width: 204px;
  }
}

@media screen and (max-width: 600px) {
  .header-left img, .menu-header img {
    width: 173px;
  }
}

@media screen and (max-width: 600px) {
  .tools-img, .tree-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    min-height: 73rem;
  }

  .main-header {
    padding-left: 1rem;
  }

  .header-list {
    margin-bottom: 2rem;
  }

  .menu-list {
    padding-top: 5rem;
  }

  .menu-list, .menu-social {
    font-size: 1em;
  }

  .menu-social {
    margin-top: 7rem;
    padding-right: 3.5rem;
  }

  .project-details .project-image {
    width: 44%;
    height: 28%;
  }
}