.state-container {
    display: flex;
    justify-content: space-between;
}

.admin-chart {
    box-shadow: 0px 3px 8px #3E649229;
    border-radius: 5px;
    padding: 28px 30px;
    width: 60%;
}

.admin-chart h1 {
    text-align: left;
    font: Bold 16px var(--main-font);
    letter-spacing: 0.08px;
    color: #101C36;
    margin: 0 0 29px 29px;
}

.state {
    width: 30%;
    height: 345px;
    padding: 18px 30px;
    box-shadow: 0px 3px 8px #3E649229;
    border-radius: 5px;
}

.state h1 {
    text-align: left;
    font: Bold 16px var(--main-font);
    margin-bottom: 32px;
    color: #101C36;
}

.titles {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.titles h4 {
    color: #101C36;
    margin: 3px;
}

.titles p {
    color: var(--main-color);
    margin-bottom: 3px;
}

.state .ant-progress-inner {
    background-color: #D8E4FF;
}

.state .ant-progress-bg {
background-color: var(--main-color);
}
