.state-container {
    display: flex;
    justify-content: space-between;
}

.admin-chart {
    box-shadow: 0px 3px 8px #3E649229;
    border-radius: 5px;
    padding: 28px 30px;
    width: 60%;
    text-align: left;
}

.admin-chart .report-chart {
    height: 420px;
}

.admin-chart .report-chart h1 {
    text-align: left;
    font: Bold 16px var(--main-font);
    letter-spacing: 0.08px;
    color: #101C36;
    margin-left: 29px;
    display: inline-block
}

.admin-chart .report-chart p {
    text-align: left;
    font: Bold 14px var(--main-font);
    letter-spacing: 0.08px;
    color: #ffa63a;
    margin-left: 29px;
    display: inline-block;
}

.admin-chart .date-picker {
    display: flex;
    justify-content: space-between;
    padding: 0 0 29px 29px;
    width: 95%;
}

.admin-chart .date-picker > div {
    text-align: left;
    color: #101C36;
}

.admin-chart .date-picker input {
    border: 1px solid #acacac;
    padding: 4px 10px;
    border-radius: 4px;
    color: #6d6d6d;
    width: 90%;
}

.admin-chart .date-picker input:focus {
    outline: none;
    border-color: #ffa63a;;
}

.admin-chart .react-datepicker-wrapper {
    margin-top: 10px;
}

.admin-chart .line-chart {
    padding-left: 11px;
}

.abcRioButtonBlue {
    background-color: var(--main-color)!important;
    margin: 44px auto;
}

.state {
    width: 30%;
    height: 345px;
    padding: 18px 30px;
    box-shadow: 0px 3px 8px #3E649229;
    border-radius: 5px;
}

.state h1 {
    text-align: left;
    font: Bold 16px var(--main-font);
    margin-bottom: 32px;
    color: #101C36;
}

.titles {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.titles h4 {
    color: #101C36;
    margin: 3px;
}

.titles p {
    color: var(--main-color);
    margin-bottom: 3px;
}

.state .ant-progress-inner {
    background-color: #D8E4FF;
}

.state .ant-progress-bg {
background-color: var(--main-color);
}
